[Unit]
Description= connects to iphone 9
After=network.target NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
User=mme-raspi-11
ExecStart=miekale/wifi.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target